<a href="https://colab.research.google.com/github/stephintoto/ICT-ASSIGNMENTS/blob/main/case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

READ THE DATA

In [2]:
df=pd.read_csv('adult.csv')

Display the first 5 rows of the dataset.

In [3]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

summary of numeric data

In [4]:
df.describe()

,age,fnlwgt,educational-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  object
 2   fnlwgt           48842 non-null  int64
 3   education        48842 non-null  object
 4   educational-num  48842 non-null  int64
 5   marital-status   48842 non-null  object
 6   occupation       48842 non-null  object
 7   relationship     48842 non-null  object
 8   race             48842 non-null  object
 9   gender           48842 non-null  object
 10  capital-gain     48842 non-null  int64
 11  capital-loss     48842 non-null  int64
 12  hours-per-week   48842 non-null  int64
 13  native-country   48842 non-null  object
 14  income           48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [7]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'educational-num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income'],
      dtype='object')

In [8]:
uniq_workclass= df['workclass'].unique()
uniq_workclass

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [9]:
df['income_binary'] = df['income'].apply(lambda x: 1 if x == '>50K' else 0)
print(df['income_binary'].head())

0    0
1    0
2    1
3    1
4    0
Name: income_binary, dtype: int64

In [10]:
df['age_group'] = df['age'].apply(lambda x: 'Youth' if x < 30 else ('Senior' if x >= 60 else 'Adult'))
print(df['age_group'].head())

0    Youth
1    Adult
2    Youth
3    Adult
4    Youth
Name: age_group, dtype: object

In [11]:
df.rename(columns={'educational-num': 'education_num'}, inplace=True)
print(df.columns)

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital-status', 'occupation', 'relationship', 'race', 'gender',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'income', 'income_binary', 'age_group'],
      dtype='object')

In [12]:
df['workclass'].replace('?', 'Unknown', inplace=True)
df['occupation'].replace('?', 'Unknown', inplace=True)
print(df[['workclass', 'occupation']].head())

   workclass         occupation
0    Private  Machine-op-inspct
1    Private    Farming-fishing
2  Local-gov    Protective-serv
3    Private  Machine-op-inspct
4    Unknown            Unknown

In [13]:
avgage_workclass = df.groupby('workclass')['age'].mean().reset_index()
print(avgage_workclass)

          workclass        age
0       Federal-gov  42.577514
1         Local-gov  41.676020
2      Never-worked  19.900000
3           Private  36.903144
4      Self-emp-inc  45.799410
5  Self-emp-not-inc  45.332470
6         State-gov  39.512367
7           Unknown  40.141122
8       Without-pay  47.285714

In [14]:
df['capital-gain'].replace('?', 0, inplace=True)
df['capital-gain'] = pd.to_numeric(df['capital-gain'], errors='coerce')
gendergain= df.groupby('gender')['capital-gain'].sum().reset_index()
print(gendergain)

   gender  capital-gain
0  Female       9403120
1    Male      43300701

In [15]:
marital_status_counts = df['marital-status'].value_counts().reset_index()
marital_status_counts.columns = ['marital_status', 'count']
print(marital_status_counts)

          marital_status  count
0     Married-civ-spouse  22379
1          Never-married  16117
2               Divorced   6633
3              Separated   1530
4                Widowed   1518
5  Married-spouse-absent    628
6      Married-AF-spouse     37

In [16]:
edu_mean = df.groupby('education')['hours-per-week'].mean().reset_index()
print(edu_mean)

       education  hours-per-week
0           10th       36.986321
1           11th       33.952539
2           12th       35.374429
3        1st-4th       38.761134
4        5th-6th       38.923379
5        7th-8th       39.003141
6            9th       38.359788
7     Assoc-acdm       40.809494
8      Assoc-voc       41.658418
9      Bachelors       42.482492
10     Doctorate       46.582492
11       HS-grad       40.640775
12       Masters       43.575837
13     Preschool       36.566265
14   Prof-school       47.579137
15  Some-college       38.865784

In [17]:
fnlwgt_stat= df.groupby('race')['fnlwgt'].agg(['mean', 'median', 'std']).reset_index()
print(fnlwgt_stat)

                 race           mean    median            std
0  Amer-Indian-Eskimo  120110.985106  101579.0   94655.908850
1  Asian-Pac-Islander  159796.946675  139850.0   86997.647681
2               Black  230485.070438  208266.0  125445.929357
3               Other  195715.689655  188066.5   94063.712981
4               White  186894.995738  177287.0  102637.466726

In [18]:
country_counts = df['native-country'].value_counts().reset_index()
country_counts.columns = ['native_country', 'count']
print(country_counts)

                native_country  count
0                United-States  43832
1                       Mexico    951
2                            ?    857
3                  Philippines    295
4                      Germany    206
5                  Puerto-Rico    184
6                       Canada    182
7                  El-Salvador    155
8                        India    151
9                         Cuba    138
10                     England    127
11                       China    122
12                       South    115
13                     Jamaica    106
14                       Italy    105
15          Dominican-Republic    103
16                       Japan     92
17                   Guatemala     88
18                      Poland     87
19                     Vietnam     86
20                    Columbia     85
21                       Haiti     75
22                    Portugal     67
23                      Taiwan     65
24                        Iran     59
25                      Greece     49
26                   Nicaragua     49
27                        Peru     46
28                     Ecuador     45
29                      France     38
30                     Ireland     37
31                        Hong     30
32                    Thailand     30
33                    Cambodia     28
34             Trinadad&Tobago     27
35                        Laos     23
36                  Yugoslavia     23
37  Outlying-US(Guam-USVI-etc)     23
38                    Scotland     21
39                    Honduras     20
40                     Hungary     19
41          Holand-Netherlands      1

In [20]:
filtered_dataset = df[df['income'] == '>50K']
filtered_dataset

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,income_binary,age_group
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,1,Youth
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,1,Adult
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K,1,Senior
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K,1,Senior
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K,1,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48820,71,Unknown,287372,Doctorate,16,Married-civ-spouse,Unknown,Husband,White,Male,0,0,10,United-States,>50K,1,Senior
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,1,Adult
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,1,Adult
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,1,Adult
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,1,Adult

In [21]:
sorted_dataset = df.sort_values(by='age', ascending=False)
print(sorted_dataset)

       age  workclass  fnlwgt education  education_num      marital-status  \
40519   90    Unknown  166343   1st-4th              2             Widowed
21553   90    Private  141758       9th              5       Never-married
47977   90    Unknown  313986   HS-grad              9  Married-civ-spouse
21651   90  Local-gov  227796   Masters             14  Married-civ-spouse
41584   90    Unknown  175444   7th-8th              4           Separated
...    ...        ...     ...       ...            ...                 ...
39614   17    Unknown   48751      11th              7       Never-married
23072   17    Private  110723      11th              7       Never-married
33275   17    Private  142457      11th              7       Never-married
31429   17    Private   34019      11th              7       Never-married
20904   17    Private  181580      11th              7       Never-married

            occupation   relationship   race  gender  capital-gain  \
40519          Unknown  Not-in-family  Black  Female             0
21553     Adm-clerical  Not-in-family  White  Female             0
47977          Unknown        Husband  White    Male             0
21651  Exec-managerial        Husband  White    Male         20051
41584          Unknown  Not-in-family  White  Female             0
...                ...            ...    ...     ...           ...
39614          Unknown      Own-child  Black  Female             0
23072            Sales      Own-child  White  Female             0
33275    Other-service      Own-child  Black    Male             0
31429    Other-service      Own-child  White    Male             0
20904    Other-service      Own-child  White  Female             0

       capital-loss  hours-per-week native-country income  income_binary  \
40519             0              40  United-States  <=50K              0
21553             0              40  United-States  <=50K              0
47977             0              40  United-States   >50K              1
21651             0              60  United-States   >50K              1
41584             0              15  United-States  <=50K              0
...             ...             ...            ...    ...            ...
39614             0              40  United-States  <=50K              0
23072             0              25  United-States  <=50K              0
33275             0              20  United-States  <=50K              0
31429             0              20  United-States  <=50K              0
20904             0              16  United-States  <=50K              0

      age_group
40519    Senior
21553    Senior
47977    Senior
21651    Senior
41584    Senior
...         ...
39614     Youth
23072     Youth
33275     Youth
31429     Youth
20904     Youth

[48842 rows x 17 columns]

In [22]:
hr_week = df[df['hours-per-week'] > 40]
print(hr_week)

       age         workclass  fnlwgt     education  education_num  \
1       38           Private   89814       HS-grad              9
14      48           Private  279724       HS-grad              9
15      43           Private  346189       Masters             14
19      40           Private   85019     Doctorate             16
20      34           Private  107914     Bachelors             13
...    ...               ...     ...           ...            ...
48819   38           Private  139180     Bachelors             13
48824   45         Local-gov  119199    Assoc-acdm             12
48829   65  Self-emp-not-inc   99359   Prof-school             15
48831   43  Self-emp-not-inc   27242  Some-college             10
48833   43           Private   84661     Assoc-voc             11

           marital-status         occupation   relationship  \
1      Married-civ-spouse    Farming-fishing        Husband
14     Married-civ-spouse  Machine-op-inspct        Husband
15     Married-civ-spouse    Exec-managerial        Husband
19     Married-civ-spouse     Prof-specialty        Husband
20     Married-civ-spouse       Tech-support        Husband
...                   ...                ...            ...
48819            Divorced     Prof-specialty      Unmarried
48824            Divorced     Prof-specialty      Unmarried
48829       Never-married     Prof-specialty  Not-in-family
48831  Married-civ-spouse       Craft-repair        Husband
48833  Married-civ-spouse              Sales        Husband

                     race  gender  capital-gain  capital-loss  hours-per-week  \
1                   White    Male             0             0              50
14                  White    Male          3103             0              48
15                  White    Male             0             0              50
19     Asian-Pac-Islander    Male             0             0              45
20                  White    Male             0             0              47
...                   ...     ...           ...           ...             ...
48819               Black  Female         15020             0              45
48824               White  Female             0             0              48
48829               White    Male          1086             0              60
48831               White    Male             0             0              50
48833               White    Male             0             0              45

      native-country income  income_binary age_group
1      United-States  <=50K              0     Adult
14     United-States   >50K              1     Adult
15     United-States   >50K              1     Adult
19                 ?   >50K              1     Adult
20     United-States   >50K              1     Adult
...              ...    ...            ...       ...
48819  United-States   >50K              1     Adult
48824  United-States  <=50K              0     Adult
48829  United-States  <=50K              0    Senior
48831  United-States  <=50K              0     Adult
48833  United-States  <=50K              0     Adult

[14352 rows x 17 columns]

In [23]:
missing_percentage = (df.isnull().sum() / len(df)) * 100
miss_percen_df = missing_percentage.reset_index()
miss_percen_df.columns = ['column', 'missing_percentage']
miss_percen_df

            column  missing_percentage
0              age                 0.0
1        workclass                 0.0
2           fnlwgt                 0.0
3        education                 0.0
4    education_num                 0.0
5   marital-status                 0.0
6       occupation                 0.0
7     relationship                 0.0
8             race                 0.0
9           gender                 0.0
10    capital-gain                 0.0
11    capital-loss                 0.0
12  hours-per-week                 0.0
13  native-country                 0.0
14          income                 0.0
15   income_binary                 0.0
16       age_group                 0.0

In [26]:
income_mapping = {
    '>50K': 1,
    '<=50K': 0
}
df['income_numeric'] = df['income'].map(income_mapping)
median_income= df.groupby(['education', 'gender'])['income_numeric'].median().reset_index()
median_income.columns = ['education', 'gender', 'median_income']
print(median_income)

       education  gender  median_income
0           10th  Female            0.0
1           10th    Male            0.0
2           11th  Female            0.0
3           11th    Male            0.0
4           12th  Female            0.0
5           12th    Male            0.0
6        1st-4th  Female            0.0
7        1st-4th    Male            0.0
8        5th-6th  Female            0.0
9        5th-6th    Male            0.0
10       7th-8th  Female            0.0
11       7th-8th    Male            0.0
12           9th  Female            0.0
13           9th    Male            0.0
14    Assoc-acdm  Female            0.0
15    Assoc-acdm    Male            0.0
16     Assoc-voc  Female            0.0
17     Assoc-voc    Male            0.0
18     Bachelors  Female            0.0
19     Bachelors    Male            1.0
20     Doctorate  Female            1.0
21     Doctorate    Male            1.0
22       HS-grad  Female            0.0
23       HS-grad    Male            0.0
24       Masters  Female            0.0
25       Masters    Male            1.0
26     Preschool  Female            0.0
27     Preschool    Male            0.0
28   Prof-school  Female            0.0
29   Prof-school    Male            1.0
30  Some-college  Female            0.0
31  Some-college    Male            0.0

In [27]:
top3_occupations = df.groupby('occupation')['capital-gain'].mean().nlargest(3).reset_index()
print(top3_occupations)

        occupation  capital-gain
0   Prof-specialty   2745.918017
1  Exec-managerial   2277.755504
2            Sales   1266.898256

In [31]:
fil_df = df[(df['marital-status'] == 'Married-civ-spouse') & (df['income'] == '>50K')]
fil_df

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,income_binary,age_group,income_numeric
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,1,Youth,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,1,Adult,1
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K,1,Senior,1
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K,1,Senior,1
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K,1,Adult,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48820,71,Unknown,287372,Doctorate,16,Married-civ-spouse,Unknown,Husband,White,Male,0,0,10,United-States,>50K,1,Senior,1
48826,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,1,Adult,1
48835,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,1,Adult,1
48838,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,1,Adult,1
48841,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,1,Adult,1